.nevbar-style {
  background: #076585;
  background: -webkit-linear-gradient(to right, #fff, #076585);
  background: linear-gradient(to right, #fff, #076585);
  margin-top: -20px;
}

#singbit-logo {
  width: 200px;
  margin-bottom: -30px;
}
